{% extends 'base.html' %}
{% block content %}
<div class="card narrow">
  <h2>Change password</h2>
  <form method="post" class="form-grid one-col" novalidate>
    <label>Old password
      <input type="password" name="old_password">
    </label>
    <label>New password
      <input type="password" name="new_password">
    </label>
    <label>Repeat new password
      <input type="password" name="confirm_password">
    </label>
    <button type="submit">Save new password</button>
  </form>
</div>
{% endblock %}
